NODE_ENV=production
HTTP_PORT=80

API_URL=https://maas-api.cn-huabei-1.xf-yun.com/v2/chat/completions
WS_URL=wss://maas-api.cn-huabei-1.xf-yun.com/v1.1/ch
EMBEDDING_URL=https://maas-api.cn-huabei-1.xf-yun.com/v2/embeddings
MODEL_ID=xop35qwen2b
API_KEY=your_api_key_here
API_SECRET=your_api_secret_here
APP_ID=your_app_id_here
